
.DS_Store
**/.snakemake
*.pkl
**/.ipynb_checkpoints
*.tsv
*.txt
enzyme.dat
*.gz
*.xml
__pycache__/utils.cpython-310.pyc
*.zip
glycosmos_glycans_wurcs.csv
chebi_structures.csv
nextflow/bin/__pycache__/utils.cpython-310.pyc
/neo4j_docker
compose_run.yaml
compose_build.yaml
