#! /usr/bin/env nextflow

conda.enabled = true


profiles {
    standard {
        process.executor = "local"
    }

    crick {
        process {
            executor = "slurm"
            clusterOptions = "--partition=compute"
            queueSize = 20 //prevent overloading the cluster with jobs
            scratch = true // enable scratch dir - each node on crick has 1TB storage.
            withLabel: largecpu_largemem {
                cpus = 64
                memory = "128GB"
            }
            withLabel: medmem {
                cpus: 4
                memory = "16GB"
            }
        }
    }
}

//eventually move these to base.conf
params.data_dir = "/raid/MattC/repos/ProCogGraphData/data_files"
params.cache_in = "/raid/MattC/repos/ProCogGraphData/cache_files"
//eventually we can also have a config option cache dir and data dir again thaat by default are empty, so you dont need to specifyt the full fp of a cache file if they are all stored in sample place?
params {
    //maybe we want to make this a command line argument?  required on command line
    manifest = "/raid/MattC/repos/bin/outputs/partial_manifest.csv"
    //optionally specify a directory for cache and data files (default = "" - so need to specify full path for each file)

    //directory to publish output files
    publish_dir = "test_out" //specify a directory to publish output files on command line to overwrite this

    //directory to store cacheable files between runs e.g. cognate ligands and parity scores - used as storeDir in workflow
    cache_out = "cache_out" //specify on command line to overwrite default

    //specifying these files additionally for extra cache to speed up operation - these are not workflow outputs, but reduce dependency on API calls etc
    glycoct_cache = "${params.cache_in}/glycoct_cache.pkl"
    smiles_cache = "${params.cache_in}/smiles_cache.pkl"
    csdb_linear_cache = "${params.cache_in}/csdb_linear_cache.pkl"
    parity_cache = "${params.cache_in}/cache_parity_calcs.pkl"
    kegg_enzyme_cache = "${params.cache_in}/kegg_enzyme_strings.txt"
    kegg_reaction_cache = "${params.cache_in}/kegg_reaction_strings.txt"
    kegg_compound_cache_dir = "${params.cache_in}/kegg_compound_cache_dir"
    glytoucan_cache = "${params.cache_in}/gtc_cache.pkl"
    
    //workflow specific parameters
    parity_threshold = 0.4
    domain_contact_cutoff = 3

    //paths to data files required for the workflow
    sifts_file = "${params.data_dir}/pdb_chain_enzyme.tsv.gz"
    rhea_reactions = "${params.data_dir}/rhea_reactions.pkl"
    enzyme_dat_file = "${params.data_dir}/enzyme.dat"
    enzyme_class_file = "${params.data_dir}/enzclass.txt"
    scop_domains_info_file = "${params.data_dir}/dir.cla.scop.1_75.txt"
    scop_descriptions_file = "${params.data_dir}/dir.des.scop.1_75.txt"
    interpro_xml = "${params.data_dir}/interpro.xml.gz"
    pfam_clans = "${params.data_dir}/clan.txt.gz"
    pfam_clan_rels = "${params.data_dir}/clan_membership.txt.gz"
    pfam_a_file = "${params.data_dir}/pfamA.txt.gz"
    cddf = "${params.data_dir}/cath-domain-description-file.txt"
    ccd_cif = "${params.data_dir}/ccd.cif"
    pubchem_mapping = "${params.data_dir}/pubchem_substance_id_mapping.txt"
    chebi_kegg = "${params.data_dir}/ChEBI_Results.tsv"
    chebi_relations = "${params.data_dir}/relation.tsv"
    chebi_names = "${params.data_dir}/chebi_names.tsv.gz"
    brenda_ligands = "${params.data_dir}/brenda_ligands_2023_1.csv"
    brenda_mol_dir = "${params.data_dir}/molfiles_in_2023_1"
    brenda_json = "${params.data_dir}/brenda_2023_1.json"
    rhea2ec = "${params.data_dir}/rhea2ec.tsv"
    rhea_directions = "${params.data_dir}/rhea-directions.tsv"
    rhea_reactions_smiles = "${params.data_dir}/rhea-reaction-smiles.tsv"
    rhea_rd_dir = "${params.data_dir}/rd"
}