#! /usr/bin/env nextflow

conda.enabled = true


//eventually move these to base.conf

//eventually we can also have a config option cache dir and data dir again thaat by default are empty, so you dont need to specifyt the full fp of a cache file if they are all stored in sample place?
params {
    //directory to publish output files
    publish_dir = 'test_out'

    //directory to store cacheable files between runs e.g. cognate ligands and parity scores - used as storeDir in workflow
    cache_dir = 'cache_out'

    //specifying these files additionally for extra cache to speed up operation - these are not workflow outputs, but reduce dependency on API calls etc
    glycoct_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/glycoct_cache.pkl'
    smiles_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/smiles_cache.pkl'
    csdb_linear_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/csdb_linear_cache.pkl'
    parity_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/cache_parity_calcs.pkl'
    kegg_enzyme_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/kegg_enzyme_strings.txt'
    kegg_reaction_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/kegg_reaction_strings.txt'
    kegg_compound_cache_dir = '/raid/MattC/repos/ProCogGraphData/cache_files/kegg_compound_cache_dir'
    glytoucan_cache = '/raid/MattC/repos/ProCogGraphData/cache_files/gtc_cache.pkl'
    
    //workflow specific parameters
    parity_threshold = 0.4
    domain_contact_cutoff = 3
    threads = 75

    //paths to data files required for the workflow
    sifts_file = '/raid/MattC/repos/ProCogGraphData/data_files/pdb_chain_enzyme.tsv.gz'
    assemblies_file = '/raid/MattC/repos/ProCogGraphData/data_files/assemblies_data.csv.gz'
    rhea_reactions = '/raid/MattC/repos/ProCogGraphData/procoggraph_20240418/cognate_ligands/rhea_reactions.pkl'
    enzyme_dat_file = '/raid/MattC/repos/ProCogGraphData/data_files/enzyme.dat'
    enzyme_class_file = '/raid/MattC/repos/ProCogGraphData/data_files/enzclass.txt'
    scop_domains_info_file = '/raid/MattC/repos/ProCogGraphData/data_files/dir.cla.scop.1_75.txt'
    scop_descriptions_file = '/raid/MattC/repos/ProCogGraphData/data_files/dir.des.scop.1_75.txt'
    interpro_xml = '/raid/MattC/repos/ProCogGraphData/data_files/interpro.xml.gz'
    pfam_clans = '/raid/MattC/repos/ProCogGraphData/data_files/clan.txt.gz'
    pfam_clan_rels = '/raid/MattC/repos/ProCogGraphData/data_files/clan_membership.txt.gz'
    pfam_a_file = '/raid/MattC/repos/ProCogGraphData/data_files/pfamA.txt.gz'
    cddf = '/raid/MattC/repos/ProCogGraphData/data_files/cath-domain-description-file.txt'
    ccd_cif = '/raid/MattC/repos/ProCogGraphData/data_files/ccd.cif'
    pubchem_mapping = '/raid/MattC/repos/ProCogGraphData/data_files/pubchem_substance_id_mapping.txt'
    chebi_kegg = '/raid/MattC/repos/ProCogGraphData/data_files/ChEBI_Results.tsv'
    chebi_relations = '/raid/MattC/repos/ProCogGraphData/data_files/relation.tsv'
    chebi_names = '/raid/MattC/repos/ProCogGraphData/data_files/chebi_names.tsv.gz'
    brenda_ligands = '/raid/MattC/repos/ProCogGraphData/data_files/brenda_ligands_2023_1.csv'
    brenda_mol_dir = '/raid/MattC/repos/ProCogGraphData/data_files/molfiles_in_2023_1'
    brenda_json = '/raid/MattC/repos/ProCogGraphData/data_files/brenda_2023_1.json'
    rhea2ec = '/raid/MattC/repos/ProCogGraphData/data_files/rhea2ec.tsv'
    rhea_directions = '/raid/MattC/repos/ProCogGraphData/data_files/rhea-directions.tsv'
    rhea_reactions_smiles = '/raid/MattC/repos/ProCogGraphData/data_files/rhea-reaction-smiles.tsv'
    rhea_rd_dir = '/raid/MattC/repos/ProCogGraphData/data_files/rd'
}